/*
Theme Name: Twenty Sixteen Child
Template: twentysixteen
Author: wzy Media
Version: 1.0.0
Bitbucket Theme URI: https://bitbucket.org/w33zy/twentysixteen-child
*/

.site-inner {
    max-width: 1920px;
}

@media screen and (min-width: 56.875em) {

    .content-area {
        float: right;
        margin: 0 0 0 -100%;
        width: 70%;
    }

    .sidebar {
        float: right;
        margin: 0 75% 0 0;
        padding: 0;
        width: 25%;
    }

    .single .byline, .full-size-link, body:not(.search-results).group-blog .byline, body:not(.search-results) .entry-format, body:not(.search-results) .cat-links, body:not(.search-results) .tags-links, body:not(.search-results) article:not(.sticky) .posted-on, body:not(.search-results) article:not(.type-page) .comments-link, body:not(.search-results) article:not(.type-page) .entry-footer .edit-link {
        display: inline-block;
        padding: 0 1em 0 0;
    }

    body:not(.search-results) article:not(.type-page) .entry-footer {
        margin-top: 2em;
        width: 100%;
        border-top: 2px solid;
    }

    .main-navigation .primary-menu {
        display: flex;
        justify-content: center;
    }

    .site-header {
        padding: 0 4.5455% 5.25em 4.5455%;
    }


}

@media screen and (min-width: 61.5625em) {
    body:not(.search-results) article:not(.type-page) .entry-content {
        float: none;
        width: 100%;
    }
}

.entry-title {
    margin-bottom: .5em;
}

.byline {
    display: none !important;
}

.site-header-main {
    display: block;
}

.site-branding {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

.site-logo {
    text-align: center;
}

